{{- $page := . -}}
{{- $content := $page.RawContent | default "" -}}
{{- $base := strings.TrimSuffix "/" $page.Site.BaseURL -}}
{{- $pagePermalink := $page.Permalink -}}

{{- /* Absolutize root-relative markdown links: ](/blog -> ](https://site/blog */ -}}
{{- $content = replace $content `](/` (printf "](%s/" $base) -}}
{{- /* Absolutize bundle-relative image paths: ](images/ -> ](PAGEPermalink/images/ */ -}}
{{- $content = replace $content "](images/" (printf "](%simages/" $pagePermalink) -}}

{{- $content | safeHTML -}}
